/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Work Sans', sans-serif;
}


h1, h2, h3, h4, h6 {
  font-family: 'Crimson Text', serif;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.body-span {
	color: #e8491d;
	font-family: 'Crimson Text', serif;
}

#nav-section{
	background-color: #35424a;
	color:#fff;	
	text-transform: uppercase;
	height: 80vh;
	overflow: hidden;

}

nav {
	border-bottom:#e8491d 3px solid;
}


.highlight {
	color:#e8491d;
    font-weight:bold;
}


/*Jumbotron Section*/

#jumbo-section {
    height: 75vh;
    display: flex;
    color: white;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%),url('../images/jumbo-cover1.jpg');
    background-size: cover;
    background-repeat: no-repeat;    
    background-position: center;
    padding-left: 25px;
}

.heading-button {
	border-radius: 40px;
	width: 170px;
	background-color: #e8491d;
	color: #fff;
	margin-bottom: 10px;
}

.jumbo-button {
	border-radius: 20px;
}

.sign-up {
	padding-bottom: 30px;
}

.modal-body {
	color: #fff;
	background-color: #35424a;
	border-top:#35424a 3px solid;
	border-bottom:#35424a 3px solid;
}

.modal-header {
	background-color: #35424a;
	border-bottom:#e8491d 3px solid;
}

.modal-title {
	color: #fff;
}

.modal-body .button_1, .modal-submit {
	background-color: #e8491d;
	color: #fff;
	border: 0;
}

/*Features Section*/

#features-section {
	text-align: center;
	padding: 70px 80px;
	color: black;	
}

#features-section i {
	color: #e8491d;
}

#features-section h2, h3, h4 {
	font-weight: bold;
}

.features-heading {
	padding-bottom: 20px;
}


/*Main Section*/

#main-section {
  padding: 80px 30px;
  text-align: center;
  background-color: #35424a;
  color: #fff;
  overflow: hidden;
}

.main-text {
  line-height: 1.5;
  font-weight: bold;
}

#main-section h2, h3 {	
	font-weight: bold;
}

.main-card {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.main-image {
  width: 50%;
  object-fit: cover;
  border-radius: 0%;
  border: #000000 2px solid ;
  margin-top: 20px;
  margin-bottom: 20px;
}


 #second-photo {
    background-image: url("../images/second-photo.jpg");
    height: 100vh;
    /*It stretches the background image to cover the area*/
    background-size: cover;
    /*background no repeat makes sure that our bg image will not repeat*/
    background-repeat: no-repeat;
    /*positions our background image into the center*/
    background-position: center;
    border: #000000 2px solid ;   

 }

 .second-cr {
 	background-color: #fff;
 	text-align: center;
 	color: black;
 	text-align: left;
 	line-height: 5;
 }




/* Applications Section */

#applications-section {
	text-align: center;
	padding: 70px 80px;
	margin-bottom: 20px;	
}

.app-box{
  text-align: center;
  width: 30%;
  padding: 10px;
}

.app-box img{
  width: 90px;
}

#applications-section h2, h3 {
	font-weight: bold;
	text-align: center;
}

.p-application {
	display: block;
	text-align: center;
}

.applications-heading {	
	padding-bottom: 20px;	
}

.app-container {
	padding-top: 60px;
	padding-bottom: 60px;
}

/*Pages Section*/

#pages-section {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 70px 80px;
	margin-bottom: 20px;
	background-color: #e8491d;
	color: #fff;
}

#pages-section h2 {
	font-weight: bold;
	color: #fff;
}

.card {
	color: black;
}

h5 {
	color: #35424a;
	font-size: 1.5rem;
	font-weight: bold;
	font-family: 'Crimson Text', serif;
}

.card-deck p {
	color: 	#000000;
	padding-bottom: 15px;
}

.pages-heading {
	padding-bottom: 20px;
}

.card-deck .btn {
	background-color: #35424a;
	border-radius: 5px;
}

.card-deck {
	margin-bottom: 35px;
}









/*Contact Section*/

#contact-section {
	padding: 70px 80px;	
}

#contact-section h2, h3 {
	font-weight: bold;
}

.contact-heading, .p-heading {
	text-align: center;
}

.gmap {
	padding: 20px auto;
}

iframe {
	width: 100%;
	height: 300px;
}

.address {
	padding-top: 30px;
}

#contact-section i,p,.address-info {
	display: inline-block;
}

#contact-section i {
	color: #e8491d;
}

#contact-form {
	padding-top: 30px;
	padding-left: 0;
}

#name {
	padding-left: 0;
	padding-right: 0;	
}

#email {
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
}

.inline {
	padding-left: 0;
	padding-right: 0;
	display: inline-block;	
}

.row-inline {
	padding-top: 30px;
}

.form-group {	
	padding-left: 0;
	overflow: hidden;
}

.btn-sbmit {
	background-color: #e8491d;
	color: #fff;
	border: 0;	
}

.info {
	overflow: hidden;
}



/*Footer Section*/

footer {
	padding: 50px 0;
	border-top:#e8491d 3px solid;
	background-color: #35424a;
	color: white;
	text-align: center;
	display: flex;
	justify-content: center;	
	overflow: hidden;
}

footer a {
	color: #fff;
}

.footer-icon {
  margin: 0px 10px;
}

.copyright {
	display: block;
}

#textNewsLetter {
	color: #fff;
	display: inline-block;
	font-weight: normal;
}

#buttonNewsLetter {
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#fff;
}

#formNewsLetter{
	height:38px;
}


#gitlab-img {
	height: 90px;
}

.newsletter {

}